.custom-shape-divider-bottom-1698940856 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698940856 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1698940856 .shape-fill {
    fill: #4A90E2;
}